@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap');

// font-family: 'Mukta', sans-serif;

.title-service {
  font-size: 25px;
  font-weight: 300;
  margin-top: 15px;
  color: #FD5440;
  font-family: 'Mukta', sans-serif;
}

.circle-img {
  width: 230px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
}

.tutorial-first-card {
  box-shadow: none;
}

.service-info {
  line-height: 25px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

ion-slides {
  --bullet-background: #FFC93A;
  --bullet-background-active: #FD5440;
}

.start-btn {
  --background: #FD5440;
  --background-activated: #FFC93A;
  --border-radius: 25px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Mukta', sans-serif;
}