<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-slide class="full-slide">
    <ion-slides pager="true">
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">Registrate.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/login.svg"></ion-img>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">Encuentra lo que necesitas.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/lupa.svg"></ion-img>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">Paga online.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/paid online.svg"></ion-img>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-card-header>
            <ion-card-title class="title-service">¡Relax! Nosotros te lo llevabamos.</ion-card-title>
          </ion-card-header>
          <ion-img class="circle-img" src="/assets/entrega.svg"></ion-img>
          <ion-button style="--box-shadow: none;" (click)="openPage()" class="start-btn" expand="block">Comenzar</ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-slide>
</ion-content>