<ion-tabs>

  <ion-tab-bar slot="bottom" style="padding-top: 10px; padding-bottom: 15px; --background: #FD5440;">
    <ion-tab-button href="/tab1">
      <img src="assets/home.png" width="30px" height="30px">
      <!-- <ion-label>Tab One</ion-label> -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="search">
      <img src="assets/search.png" width="30px" height="30px">
      <ion-label>Tab Two</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="profile">
      <img src="assets/profile.png" width="30px" height="30px">
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>


    <ion-tab-button href="/service-area">
      <img src="assets/other.png" width="30px" height="30px">
    
    </ion-tab-button> 

  </ion-tab-bar>

</ion-tabs>