.bg-orange {
  --background: #FD5440;
}

.logo-card {
  box-shadow: none;
  padding-bottom: 0;
}

.logo {
  width: 100px;
  height: 80px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.arrow-icon {
  color: white;
  width: 25px;
  height: 25px;
}

.arrow-btn {
  --background: transparent;
  --background-activated: transparent;
  position: absolute;
  top: 14px;
  left: 0;
  --box-shadow: none;
}

.location-icon {
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.location-input {
  --background: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  height: 50px;
  --padding-start: 15px;
}

.location-title {
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
}

.create-btn {
  --background: #FFC93A;
  --background-activated: #FFC93A;
  --color-activated: #FD5440;
  --border-radius: 25px;
  font-size: 13px;
  font-weight: 700;
  height: 50px;
  --box-shadow: none;
  color: #FD5440;
}