<ion-card class="logo-card">
  <h1 class="logo">Método de pago</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card style="margin-bottom: 0;">
    <p class="articles">Tarjetas de crédito</p>
  </ion-card>

  <!-- first - card -->


  <ion-card class="article-container">
    <ion-img *ngIf="status == true" ion-button (click)="payment()" src="assets/visa.png" class="card-logo"></ion-img>
    <ion-img *ngIf="status == false" src="assets/visa.png" class="card-logo"></ion-img>
    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FD5440">
      <ion-row>
        <ion-col size="8" style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">XXXX-XXXX-XXXX-4242</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <ion-icon ion-button class="delete-btn" ios="ios-trash" md="md-trash"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- second - card -->

  <!-- <ion-card class="article-container">
    <ion-img src="assets/mastercard.png" class="card-logo"></ion-img>
    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FD5440">
      <ion-row>
        <ion-col size="8" style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">XXXX-XXXX-XXXX-4242</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <ion-icon ion-button class="delete-btn" ios="ios-trash" md="md-trash"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <!-- third card -->

  <!-- <ion-card class="article-container">
      <ion-img src="assets/discover.png" class="card-logo"></ion-img>
      <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FD5440">
        <ion-row>
          <ion-col size="8" style="padding-top: 0; padding-bottom: 0;">
            <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">XXXX-XXXX-XXXX-4242</p>
          </ion-col>
          <ion-col style="padding-top: 0; padding-bottom: 0;">
            <ion-icon ion-button class="delete-btn" ios="ios-trash" md="md-trash"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card> -->

    <!-- fourth card -->

    <!-- <ion-card class="article-container">
        <ion-img src="assets/american express.png" class="card-logo"></ion-img>
        <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FD5440">
          <ion-row>
            <ion-col size="8" style="padding-top: 0; padding-bottom: 0;">
              <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">XXXX-XXXX-XXXX-4242</p>
            </ion-col>
            <ion-col style="padding-top: 0; padding-bottom: 0;">
              <ion-icon ion-button class="delete-btn" ios="ios-trash" md="md-trash"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card> -->

</ion-content>

<ion-button class="add-btn" expand="full" (click)="openEdit()">
  <ion-icon ios="ios-add" md="md-add"></ion-icon>
  AGREGAR TARJETA
</ion-button>