<ion-card class="logo-card">
  <h1 class="logo">Historial de órdenes</h1>
  <ion-icon (click)="goBack()" ion-button class="icon-btn" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-card>

<ion-content>
  <ion-card style="margin-bottom: 0;">
    <p class="articles">Lista de artículos</p>
  </ion-card>
  <ion-card *ngFor="let service2 of services" class="article-container">
    <p class="date" style="margin-left: 10px;"> FECHA : <span>{{service2.get('date')}}</span></p>
    <ion-grid *ngFor="let items of service2.get('items')" style="border-top: 1px solid rgb(206, 206, 206);">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name">{{items.prodName}}</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price">${{items.prodPrice}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="border-top: 1px solid rgb(206, 206, 206); background: #FD5440">
      <ion-row>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" style="color: white; font-weight: 700; font-size: 15px;">Total</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="price" style="color: white; font-weight: 700; font-size: 15px;">${{service2.get('orderTotal')}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- timer -->
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p class="article-name" id="clock" style="color: white; font-weight: 700; font-size: 15px;">Estado:
            {{changeStatusIteration(service2.get('status'))}}</p>
        </ion-col>
        <ion-col style="padding-top: 0; padding-bottom: 0;">
          <p *ngIf="changeStatusIteration(service2.get('status')) == 'Solicitado'" ion-button (click)="cancel(service2)"
            class="price" id="clock" style="color: white; font-weight: 700; font-size: 15px;">Cancelar</p>
            <ion-button *ngIf="service2.get('status') != 'R' " class="see-more" (click)="openCarInfo(service2)" expand="block">Ver más</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>