<div class="orange-bg">
  <ion-card class="logo-card">
    <img class="logo" src="assets/logo prueba.png">
  </ion-card>
</div>

<div class="search-container">
  <ion-card class="search-card">
    <ion-input class="search-input" type="text" placeholder="Buscar"></ion-input>
  </ion-card>
</div>


<ion-content>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Colmado Don Marcos
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Ferretería Vicente
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Fresh Store
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Electroshock Store
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Y Boutique
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Calibali Boutique
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Los Cidrines
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Panadería La Cagueña
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Restaurante Puttanesca Trattoria
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Ojalá
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Burrillos
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      La Nachera
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Antohouse
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
     El Vagón
    </ion-label>
  </ion-item>

  <ion-item ion-button (click)="buttonClick()">
    <ion-label class="name">
      Nacho Libre
    </ion-label>
  </ion-item>

</ion-content>